/* Navbar 확장 스타일 */
.theme-layout-navbar-right .sb-locale-dropdown {
    margin-left: var(--ifm-navbar-item-padding-horizontal);
}

@media (max-width: 576px) {
    .theme-layout-navbar-right .sb-locale-current {
        display: none;
    }
}
