name: CI

on:
  pull_request:
  push:
    branches:
      - main
  release:
    types:
      - published

jobs:
  docs-template-test:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          node-version: "20"

      - name: Setup Rust
        uses: dtolnay/rust-toolchain@stable

      - name: Install root dependencies
        run: npm ci

      - name: Install website dependencies
        working-directory: tests/luau-module-project/website
        run: npm ci

      - name: Run tests
        working-directory: tests/luau-module-project/website
        run: npm test
