name: Release

on:
  push:
    tags:
      - 'v*'

permissions:
  contents: write

jobs:
  build-native-rust:
    runs-on: windows-latest
    steps:
      - uses: actions/checkout@v4
      
      - name: Setup Rust
        uses: actions-rust-lang/setup-rust-toolchain@v1
      
      - name: Build Native Binary (Release)
        working-directory: packages/luau-docgen/native
        run: cargo build --release
      
      - name: Upload Native Artifact
        uses: actions/upload-artifact@v4
        with:
          name: luau-docgen-exe
          path: packages/luau-docgen/native/target/release/luau-docgen.exe

  build-cli-pkg:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      
      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          node-version: '20'
          cache: 'npm'

      - name: Install Dependencies
        run: npm ci

      - name: Build Executable
        run: npx pkg packages/bakerywave/package.json -t node20-win-x64 -o bakerywave.exe
      
      - name: Upload Bakerywave Artifact
        uses: actions/upload-artifact@v4
        with:
          name: bakerywave-exe
          path: bakerywave.exe

  publish-release:
    needs: [build-native-rust, build-cli-pkg]
    runs-on: ubuntu-latest
    
    steps:
      - name: Download Native Artifact
        uses: actions/download-artifact@v4
        with:
          name: luau-docgen-exe
          path: bakerywave-windows-x64
          
      - name: Download Bakerywave Artifact
        uses: actions/download-artifact@v4
        with:
          name: bakerywave-exe
          path: bakerywave-windows-x64

      - name: Zip Release
        run: |
          cd bakerywave-windows-x64
          zip -r ../bakerywave-windows-x64.zip ./*
          
      - name: Create Release
        uses: softprops/action-gh-release@v1
        with:
          files: bakerywave-windows-x64.zip
          draft: true
          generate_release_notes: true
